body{
    background-color: #107dac;
}

.navigation{
    background-color: white;
}

p{
    font-family: 'Hind Guntur', sans-serif;
    font-size: 15px;
}

.active-tab {
    border-bottom: 4px solid gold;
  }

.title{
    color: white;
    text-align: center;
}
