.photo{
    height: 300px;
  width: 300px;
}

.header{
    background-color:#2a9df4;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
}
h3{
    font-family: 'Hind Guntur', sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
    
}   

.title{
    font-family: 'Caveat', cursive;
    margin-top: 0.1em;
    font-size: 5em;
}

.recipes{
  background-color: #FFFFFF;
  font-family: 'Hind Guntur', sans-serif;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.recipe_container{
    margin: 1em;
    padding: 2em;
    border: ridge 0.2em grey;
    background-color: #fce474;
}

.recipe_name{
    padding-top: 0.3em;
    font-family: 'Open Sans', sans-serif;
}

