:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.navigation {
  display: flex;
  gap: 1em;
  padding-bottom: 0.5em;
}
.navigation li {
  list-style: none;
}


.navigation-button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}


.searchFormContainer{
  display: grid;
  grid-template-columns: 75% 25%;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  background-color: #fce474;
  padding: 10px;
  font-family: 'Hind Guntur', sans-serif;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 0.5em;
  }

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  margin: 0.1em;
}

.recipe_container{
  margin: 1em;
  padding: 2em;
  background-color: #fce474;
}

.modalcontent{
  width: 75%;
}

.form-comment{
  border: solid 0.1em grey;
}

.photo{
  height: 300px;
  width: 300px;
}



.header{
    background-color:#2a9df4;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px #464545;
}

h3{
    font-family: 'Hind Guntur', sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
    
}   

.title{
  font-family: 'Caveat', cursive;
  font-size: 5em;
  text-shadow: 2px 2px #413e3e;
}

.recipe_name{
    padding-top: 0.3em;
    font-family: 'Open Sans', sans-serif;
}

.inputSearch{
  text-align: center;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;

}


.comment-list{
  border: 1px solid black;
  width: 450px;
  height: 250px;
  overflow: auto;
}

.comment-user{
  background-color: rgba(17, 90, 119, 0.233);
  margin: 0.3em;
  border: 1px solid black;
  padding: 0.5em;
}

div.handleComment{
  width: 410px;
  height: 70px;
  overflow: auto;
}

